$sc:25;
.swiper-container{
    overflow-y: hidden!important;
    overflow-x: scroll!important;
    position: relative!important;
    z-index: 1!important;
    width: 100%!important;
    height: 54/$sc+rem!important;
    padding-bottom: 10px!important;
    .swiper-wrapper{
        position: fixed!important;
        font-weight: bold!important;
        height: 54/$sc+rem!important;
        .swiper-slide{
            position: relative;
            display: inline-block;
            color: #666;
            height: 44/$sc+rem!important;
            line-height: 44/$sc+rem!important;
            text-align: center;
            margin-right: 1/$sc+rem!important;
            font-size: 17px;
            width: 52/$sc+rem!important;
        }
    }
}